html, body, div, span, applet, object, iframe,*/
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}

body {
    padding: 20px;
}
h1 {
    font-size: 28px;
    color:darkred;
}
div {
    outline: 1px solid black;
}
.main {
    background: whitesmoke;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.wrapper1 {
    background: yellow;
}
.wr1top {
    float: left;
    width: 400px;
    min-height: 100px; 
}
.clearfix:after {
    content: "";
    clear:both;
    display: block;
}
.wrapper2 {
    background: red;
}
.wr2left {
     width: 400px;
     float: left;
    
    }
.wr2right{
    width: 800px;
    float: left;
    
}
.wr2_bottom{
    float: left;
    width: 400px;
}
.wr2_bottom1{
    float: left;
    width: 400px;
}
.wrapper3 {
    background: lightblue;
}
.wr2left {
    float: left;
    width: 400px;
}
.wr3right {
    float: left;
    width: 800px;
}

